run = "npm run build && npm run preview"
modules = ["nodejs-18"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && npm run preview"]

[[ports]]
localPort = 8080
externalPort = 80

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.json}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[env]
NPM_CONFIG_PREFIX = "/home/runner/.npm-global"
PATH = "/home/runner/.npm-global/bin:$PATH" 